.container{
    display:grid;
    grid-template-columns: repeat(3, 2fr);
    margin-left: 80px;
}



.paginado{
    display:flex;
    justify-content:space-around;
    margin-right:30px ;
    padding:20px;

}

.paginado h3{
    font-size: 23px;
    color:rgb(32, 179, 184);
}